.box {
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.hompg {
    width: 600px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hom {}

.hom:hover {
    background-color: whitesmoke;
    color: #0EA5E9;
}

.hompg1 {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hom1 {
    height: 45px;
    width: 130px;
    gap: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #0EA5E9;
    color: white;
}

.hom2 {
    height: 40px;
    width: 100px;
    gap: 7px;
    border: 1px solid rgba(0, 0, 0, 0.193);
    color: rgba(0, 0, 0, 0.703);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.ikn {
    display: none;
}

.box1 {
    height: 670px;
    width: 100%;
    background-image: url("./pexels-tobiasbjorkli-2104152.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px !important;
    align-items: center;
    justify-content: center;
}

.datpg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.sp {
    font-size: 60px;
}

.datpge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datpg1 {
    height: 100px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.datpg2 {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.268);
    gap: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.077);
}

.datpg3 {
    height: 40px;
    width: 150px;
    color: rgba(0, 0, 0, 0.268);
    font-size: 20px;
    gap: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.077);
}

.datpg4 {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.268);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid rgba(0, 0, 0, 0.077);
}

.datpg5 {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: white;
    gap: 10px;
    display: flex;
    background-color: #0EA5E9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.077);
}

.box2 {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.txt {
    height: 200px;
    width: 100%;
    border: 2px solid black;
}

.txt1 {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 25px;
    color: rgb(69, 69, 69);
}

.pto {
    height: 550px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tx {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 2px;
    margin-bottom: 10px;
}

.pto1 {
    height: 250px;
    width: 400px;
    background-image: url(./france-eiffel-tower_16x9.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
    background-position: center;
    transition: background-size 3s ease;
}

.pto1:hover {
    background-size: 120%;
    background-position: center;
}

.pto2 {
    height: 250px;
    width: 400px;
    background-image: url(./tokyo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.pto2:hover {
    background-size: 120%;
    background-position: center;
}

.pto3 {
    height: 250px;
    width: 400px;
    background-image: url(./usa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.pto3:hover {
    background-size: 120%;
    background-position: center;
}

.pto4 {
    height: 250px;
    width: 400px;
    background-image: url(./london.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.pto4:hover {
    background-size: 120%;
    background-position: center;
}

.pto5 {
    height: 250px;
    width: 400px;
    background-image: url(./dubai.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.pto5:hover {
    background-size: 120%;
    background-position: center;
}

.pto6 {
    height: 250px;
    width: 400px;
    background-image: url(./australia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.pto6:hover {
    background-size: 120%;
    background-position: center;
}

.box3 {
    height: 630px;
    width: 100%;
    background-color: whitesmoke;
}

.txt2 {
    width: 100%;
}

.txt3 {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 25px;
    color: rgb(69, 69, 69);
}

.fpkg {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fpkg1 {
    height: 450px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
}

.fpkg1 img {
    height: 230px;
    width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fpkg2 {
    height: 450px;
    width: 400px;
    border-radius: 10px;
    background-color: white;

}

.fpkg2 img {
    height: 230px;
    width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fpkg3 {
    height: 450px;
    width: 400px;
    border-radius: 10px;
    background-color: white;

}

.fpkg3 img {
    height: 230px;
    width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ftx {
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.ftx1 {
    height: 200px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.ftx2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ftx3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: rgb(69, 69, 69);

}

.ftx4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    color: rgb(69, 69, 69);
}

.ftx5 {
    height: 40px;
    width: 130px;
    background-color: #0EA5E9;
    border-radius: 10px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 {
    height: 370px;
    width: 100%;
    background-color: whitesmoke;
}

.exp {
    height: 130px;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.exp1 {
    font-size: 35px;
    color: black;
}

.exp2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.exp3 {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}

.exp5 {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}

.exp6 {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}

.exp7 {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}

.exp4 {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 17px;
}

.box5 {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.svtxt {
    height: 100px;
    width: 100%;
}

.svtxt1 {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 25px;
    color: rgb(69, 69, 69);
}

.svpto {
    height: 600px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.svtx {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 2px;
    margin-bottom: 10px;
}

.svpto1 {
    height: 250px;
    width: 400px;
    background-image: url(./adventure1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
    background-position: center;
    transition: background-size 3s ease;
}

.svpto1:hover {
    background-size: 120%;
    background-position: center;
}

.svpto2 {
    height: 250px;
    width: 400px;
    background-image: url(./honeymoon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.svpto2:hover {
    background-size: 120%;
    background-position: center;
}

.svpto3 {
    height: 250px;
    width: 400px;
    background-image: url(./family-holiday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.svpto3:hover {
    background-size: 120%;
    background-position: center;
}

.svpto4 {
    height: 250px;
    width: 400px;
    background-image: url(./corporate-travel.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.svpto4:hover {
    background-size: 120%;
    background-position: center;
}

.svpto5 {
    height: 250px;
    width: 400px;
    background-image: url(./hotal\ booking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.svpto5:hover {
    background-size: 120%;
    background-position: center;
}

.svpto6 {
    height: 250px;
    width: 400px;
    background-image: url(./flight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 10px;
}

.svpto6:hover {
    background-size: 120%;
    background-position: center;
}
.box6{
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
}
.rwtx{
    height: 150px;
    width: 100%;
    color: rgb(69, 69, 69);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.rwtx1{
    color: black;
    font-size: 35px;
}
.rwbx{
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rwbx1{
    height: 300px;
    width: 400px;
    border-radius: 15px;
    background-color: white;
}
.rwbx2{
    height: 220px;
    width: 350px;
    padding-top: 30px;
    padding-left: 30px;
}
.rwbx3{
    height: 300px;
    width: 400px;
    border-radius: 15px;
    background-color: white;
}
.rwbx4{
    height: 220px;
    width: 350px;
    padding-top: 30px;
    padding-left: 30px;
}
.rwbx5{
    height: 300px;
    width: 400px;
    border-radius: 15px;
    background-color: white;
}
.rwbx6{
    height: 220px;
    width: 350px;
    padding-top: 30px;
    padding-left: 30px;
}
.rwbx7{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rwbx8{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.rwbx8 img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.rwbx9{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.rwbx10{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 191, 0);
}
.rwbx11{
    width: 100%;
    margin-top: 40px;
}

 
@media only screen and (max-width: 1260px) {
    .box2 {
        height: 1000px;
        width: 100%;
    }

    .box3 {
        height: 1100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .fpkg {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .box4 {
        height: 600px;
        width: 100%;
    }

    .exp2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
     .box5 {
        height: 960px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .box6{
        height: 770px;
        width: 100%;
    }
    .rwbx{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media only screen and (max-width: 1024px) {
    .box {
        height: 80px;
        width: 100%;
    }

    .bx {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .logo {
        display: flex;
        justify-content: start;
        padding: 10px;
    }

    .hompg {
        width: 100%;
        display: flex;
        justify-content: space-around;

    }

    .hompg1 {
        gap: 7px;
        padding: 5px;
    }

    .hom1 {
        height: 60px;
        width: 80px;
        display: flex;
        justify-content: center;
    }

    .hom2 {
        height: 60px;
        width: 85px;
        display: flex;
        justify-content: center;
    }

    .box1 {
        height: 670px;
        width: 100%;
    }

    .box2 {
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .box3 {
        height: 1100px;
        width: 100%;
        display: flex;
    }

    .fpkg {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .box4 {
        height: 600px;
        width: 100%;
    }

    .exp2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .box5 {
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
     .box6{
        height: 770px;
        width: 100%;
    }
    .rwbx{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media only screen and (max-width: 850px) {
    .nn {
        display: none;
    }

    .box2 {
        height: 1020px;
        width: 100%;
    }

    .box3 {
        height: 1550px;
        width: 100%;
        display: flex;
    }
    .fpkg {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .box6{
        height: 770px;
        width: 100%;
    }
    .rwbx{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

}

@media only screen and (max-width: 768px) {
    .nn {
        display: none;
    }

    .box {
        height: 80px;
        width: 100%;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: start;
        padding-left: 20px;

    }

    .hompg {
        display: none;
    }

    .hompg1 {
        display: none;
    }

    .ikn {
        width: 100%;
        display: block;
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }

    .box1 {
        height: 670px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .datpg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }

    .datpg1 {
        height: 200px;
        width: 45vh;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .datpg2 {
        width: 100%;
    }

    .datpg3 {
        width: 100%;
    }

    .datpg4 {
        width: 100%;
    }

    .datpg5 {
        width: 100%;
    }

    .box2 {
        height: 1020px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .box3 {
        height: 1550px;
        width: 100%;
        display: flex;
    }

    .fpkg {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .box4 {
        height: 950px;
        width: 100%;
    }

    .exp2 {
        width: 100%;
    }

    .exp3 {
        width: 100%;
    }

    .exp5 {
        width: 100%;
    }

    .exp6 {
        width: 100%;
    }

    .exp7 {
        width: 100%;
    }

    .box5 {
        height: 1020px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px) {
    .nn {
        display: none;
    }

    .box {
        height: 80px;
        width: 100%;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: start;
        padding-left: 20px;

    }

    .hompg {
        display: none;
    }

    .hompg1 {
        display: none;
    }

    .ikn {
        width: 100%;
        display: block;
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }

    .box1 {
        height: 670px;
        width: 100%;
    }

    .datpg {
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sp {
        font-size: 30px;
    }

    .datpg1 {
        display: flex;
        width: 30vh;
        padding: 10px;
        flex-direction: column;
    }

    .datpg2 {
        width: 100%;
    }

    .datpg3 {
        width: 100%;
    }

    .datpg4 {
        width: 100%;
    }

    .datpg5 {
        width: 100%;
    }

    .box2 {
        height: 1020px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .box3 {
        height: 1550px;
        width: 100%;
        display: flex;
    }

    .txt3 {
        font-size: 18px;
    }

    .fpkg {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .fpkg1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .fpkg2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .fpkg3 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .fpkg1 img {
        width: 100%;
    }

    .fpkg2 img {
        width: 100%;
    }

    .fpkg3 img {
        width: 100%;
    }

    .ftx {
        width: 100%;
    }

    .ftx1 {
        width: 100%;
        margin: 0px;
    }

    .exp {
        height: 150px;
    }

    .exp4 {
        font-size: 25px;
    }
    .box4 {
        height: 970px;
        width: 100%;
    }
    .box5 {
        height: 1020px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
      .box6{
        height: 770px;
        width: 100%;
    }
    .rwtx{
        font-size: 18px;
    }
    .rwtx1{
        font-size: 28px;
    }
    .rwbx{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .rwbx2{
        width: 100%;
        padding-left: 0px;
    }
    .rwbx4{
        width: 100%;
        padding-left: 0px;
    }
    .rwbx6{
        width: 100%;
        padding-left: 0px;
    }

}