.box {
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.hompg {
    width: 600px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hom {}

.hom:hover {
    background-color: whitesmoke;
    color: #0EA5E9;
}

.hompg1 {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hom1 {
    height: 45px;
    width: 130px;
    gap: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #0EA5E9;
    color: white;
}

.hom2 {
    height: 40px;
    width: 100px;
    gap: 7px;
    border: 1px solid rgba(0, 0, 0, 0.193);
    color: rgba(0, 0, 0, 0.703);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.ikn {
    display: none;
}

.box1 {
    height: 670px;
    width: 100%;
    background-image: url("./pexels-tobiasbjorkli-2104152.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px !important;
    align-items: center;
    justify-content: center;
}

.datpg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.datpge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datpg1 {
    height: 100px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.datpg2 {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    gap: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.datpg3 {
    height: 40px;
    width: 150px;
    font-size: 20px;
    gap: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.datpg4 {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
}

.datpg5 {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

@media only screen and (max-width: 1024px) {
    .box {
        height: 80px;
        width: 100%;
    }

    .bx {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .logo {
        display: flex;
        justify-content: start;
        padding: 10px;
    }

    .hompg {
        width: 100%;
        display: flex;
        justify-content: space-around;

    }

    .hompg1 {
        gap: 7px;
        padding: 5px;
    }

    .hom1 {
        height: 60px;
        width: 80px;
        display: flex;
        justify-content: center;
    }

    .hom2 {
        height: 60px;
        width: 85px;
        display: flex;
        justify-content: center;
    }

    .box1 {
        height: 670px;
        width: 100%;
    }

    .box2 {
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
     .box3{
        height: 1100px;
        width: 100%;
        display: flex;
    }
    .fpkg{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .box4{
        height: 600px;
        width: 100%;
    }
    .exp2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}


@media only screen and (max-width: 768px) {
    .box {
        height: 80px;
        width: 100%;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: start;
        padding-left: 20px;

    }

    .hompg {
        display: none;
    }

    .hompg1 {
        display: none;
    }

    .ikn {
        width: 100%;
        display: block;
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }

    .box1 {
        height: 670px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .datpg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }

    .datpg1 {
        height: 200px;
        width: 45vh;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .datpg2 {
        width: 100%;
    }

    .datpg3 {
        width: 100%;
    }

    .datpg4 {
        width: 100%;
    }

    .datpg5 {
        width: 100%;
    }


}

@media only screen and (max-width: 425px) {
    .box {
        height: 80px;
        width: 100%;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: start;
        padding-left: 20px;

    }

    .hompg {
        display: none;
    }

    .hompg1 {
        display: none;
    }

    .ikn {
        width: 100%;
        display: block;
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }

    .box1 {
        height: 670px;
        width: 100%;
    }

    .datpg {
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .datpg1 {
        display: flex;
        width: 30vh;
        padding: 10px;
        flex-direction: column;
    }

    .datpg2 {
        width: 100%;
    }

    .datpg3 {
        width: 100%;
    }

    .datpg4 {
        width: 100%;
    }

    .datpg5 {
        width: 100%;
    }


}